<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
      <h1><%= @event.errors.count %>errors prohibited this obj from being saved:</h1>
      <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
  <% end %>

  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class: "col-xs-3" %>
  </div>

  <div class="field row">
    <%= f.label :description %> <!-- ここを変更 -->
    <%= f.text_area :description, class: "col-xs-3" %>
  </div>

<div class='input-group date datepicker'>
 <%= f.text_field :start_date, :placeholder => "日付を入力してください", class: 'form-control' 'col-xs-3' %>
 <span class="input-group-addon">
     <span class="fa fa-calendar"></span>
 </span>
</div>


<div class='input-group date datepicker'>
 <%= f.text_field :end_date, :placeholder => "日付を入力してください", class: 'form-control' 'col-xs-3' %>
 <span class="input-group-addon">
     <span class="fa fa-calendar"></span>
 </span>
</div>


  <div class="actions row">
    <%= f.submit class: "btn btn-primary col-xs-3" %>
  </div>
<% end %>