<!DOCTYPE html>
<html>
  <head>
    <title>Training</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='open-button'>
      <i class="fas fa-bars"></i>
    </div>
    <div id='link-list'>
      <div id='close-button'>
        <i class="fas fa-times"></i>
      </div>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </div>
    <script>
      $('#link-list').hide();
    </script>
    <%= yield %>
  </body>
</html>
